*{
    margin:0;
    padding:0;
}
html{
    scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h5,li{
    font-family: 'Fjord One', serif;
    text-transform: capitalize ;
   
  }
  p{
   
    font-weight: 300;
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
  }
  li{
      list-style:none;
     
  }
  img{
      object-fit:cover;
  }
  .wrapper{
      width:100%;
      display:grid;
      box-sizing:border-box;
      
  }
  .menu{
     background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/p.jpg);
     background-size:cover;
     background-position:center;
     height:100vh;
  }
  nav{
      display:flex;
      position:fixed;
      /* justify-content:space-around; */
      width:100%;
     line-height:30px;
     z-index: 99;
     
  }
  .picture{
     height:38px; 
     float:left;
     margin:5px 48px;
  }
  .text{
      float:right;
      margin-left:auto;
    }
  .text li{
     display:inline-block;
     padding:16px 32px;
     color:gainsboro;
  }
 nav .black{
      background-color:black;
  }
  .menu h1{
    font-size:48px;
    text-align:center;
    letter-spacing:2px;
    padding-top:200px;
    color:white;
}
.our{
    width:40%;
    text-align:center; 
     margin:auto; 
    padding:20px 0px;
    
}
.our h1,.foryou .one,.parallax h3{
    position: relative; 
    animation: mymove 5s ;
    animation-timing-function: ease-in;
}
@keyframes mymove {
    from {left: -300px;}
    to {left: 0px;}
  }
.our p{
    margin:15px 0px;
}
.our p,.foryou .three{
   
    position: relative; 
    animation: move 5s ;
    animation-timing-function: ease-in;
}
@keyframes move{
    from{left:300px;}
    to{left:0px;}
}
.our::after{
    content:"";
    border-left:1px solid black;
   padding:7px;
}
.new{
    width:100%;
    height:350px;
    margin-bottom:30px;
   
}
.new h1{
    text-align:center; 
    margin:auto; 
     padding:20px 0px; 
}
.new h1,.collection .two{
   
    position: relative; 
    animation: shake 5s ;
    animation-timing-function: ease-in;
    animation-iteration-count: 2;
}
@keyframes shake {
    from {left: -20px;}
    to {left: 20px;}
  }

.new .slide img,.foryou img{
    width:100%;
    height:170px;
}  
.collection img{
    height:300px;
}
.collection .one{
    text-align:center; 
    margin:auto; 
    padding:20px 0px;
    position: relative; 
    animation: up 5s ;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 2;
}
@keyframes up {
    from {top: -20px;}
    to {top: 15px;}
  }
  .collection .three{
    text-align:center; 
    margin:auto; 
    padding:20px 0px;
    position: relative; 
    animation: down 5s ;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 2;
}
@keyframes down {
    from {bottom: -20px;}
    to {bottom: 20px;}
  }
 .parallax{
    background:linear-gradient(rgba(43, 39, 59, 0.5),rgba(43, 39, 59, 0.5)),url(images/10.jpg);
    background-size:cover;
    background-position:center; 
   background-repeat:no-repeat;
    background-attachment: fixed;
    height:100vh;
 }
 .foryou .two{
    position: relative; 
    animation: toop 5s ;
    animation-timing-function: ease-in;
}
@keyframes toop {
    from {bottom: -30px;}
    to {bottom: 20px;}
  } 

 .footer img{
     height:80px;
     width:100%;
 }